alembic
annotated-types
anyio
bcrypt==4.1.3
certifi
click
colorama
distro
ecdsa
fastapi
greenlet
groq
h11
httpcore
httpx
idna
jiter
lxml
Mako
MarkupSafe
openai
passlib[bcrypt]==1.7.4
psycopg[binary]
pyasn1
pydantic
pydantic-settings
pypdf
python-docx
python-dotenv
python-jose
python-multipart
rsa
six
sniffio
SQLAlchemy
starlette
supabase
tqdm
typing-inspection
typing_extensions
uvicorn